{% extends 'base.html' %}

{% block title %}
    Post #{{ single_post.id }}
{% endblock %}

{% block content %}
    <div>
        <h1>{{ single_post.title }}</h1>
        <h4>{{ single_post.subtitle }}</h4>
        <p>{{ single_post.body }}</p>
        <span>{{ single_post.created_on }}</span>
        <span>{{ single_post.author }}</span>
        <br>
        <a href="{% url 'post_edit' single_post.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'post_delete' single_post.id %}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}