{% extends 'base.html' %}

{% block title %}
    post
{% endblock %}

{% block content %}
    <h1>posts</h1>
        <ul>
            {% for item in posts %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <li>
                            <h1 class="card-title">title: {{ item.title }}</h1>
                            <p class="card-text">body: {{ item.body|truncatechars:5}}</p>
                            <a href="{% url 'post_detail' item.id %}" class="card-link">continue reading...</a>
                        </li>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endblock %}